.img {
    width:  30px;
    border-radius:  100px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr 1fr;
    height:  150px;
}

.username{
    color: #5cb85c;
}

.timeCreater{
    color: #bbb;
    font-size: .8rem;
    display: block;
}

.title{
    font-weight: 600 !important;
    font-size: 1.5rem !important;
    margin-bottom: 3px;
    display: block;
    word-break: break-all;
}

.descr{
    word-break: break-all;
}

.follow_btn{
    line-height: 1.5;
    display: block;
}

  /* Heart styles */
  .heart {
    position: relative;
    display: block;
    width:10px;
    height: 10px;
    background: green;
    border-radius: 0 0 0 2px;
    transform: rotate(-45deg);
  }
  .heart::before,
  .heart::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background: green;
    border-radius: 50%;
  }
  .heart::before {
    top: -5px;
    left: 0;
  }
  .heart::after {
    top: 0;
    right: -5px;
  }
  