.img {
    width:  30px;
    border-radius:  100px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr 1fr;
    height:  150px;
}

.username{
    color: #5cb85c;
}

.timeCreater{
    color: #bbb;
    font-size: .8rem;
    display: block;
}

.title{
    font-weight: 600 !important;
    font-size: 1.5rem !important;
    margin-bottom: 3px;
    display: block;
    word-break: break-all;
}

.descr{
    word-break: break-all;
}

.followBtnFav{
  border: 1px dotted white;
  background-color: green;
  border-radius: 3px;
}

.followBtnUnfav{
  border: 1px dotted green;
}

.followBtnUnfav,
.followBtnFav{
  position: relative;
    line-height: 1.5;
    display: block;
    width: 40px;
    height: 20px;
}

.followCounter {
  position: absolute;
  top:  5px;
  left: 15px;
  transform: rotate(45deg);
}

.heart, .heart::before, .heart::after{
    background: white;
 }

 .heartfav, .heartfav::before, .heartfav::after{
    background: green;
 }


.heart, .heart::before, .heart::after, .heartfav, .heartfav::before, .heartfav::after{
    width:10px;
    height: 10px;
 }

.heart, .heartfav {
    position: relative;
    top: 30%;
    left: 15%;
    display: block;    
    border-radius: 0 0 0 2px;
    transform: rotate(-45deg);
}

.heart::before,
.heart::after,
.heartfav::before,
.heartfav::after {
    position: absolute;
    content: "";
    border-radius: 50%;
}

.heart::before, .heartfav::before {
    top: -5px;
    left: 0;
}

.heart::after, .heartfav::after {
    top: 0;
    right: -5px;
}